.DraftEditor-root {
  border: 1px solid $charcoal;
  padding: 20px;
  border-radius: 3px;
}
.rdw-image-modal {
  left: -150px;
}
.rdw-emoji-modal {
  left: -100px;
}
.rdw-embedded-modal {
  left: -50px;
}